#navToggle {
  display: none;
  position: absolute;

  padding: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  color: #fff;
}

nav {
  position: absolute;
  width: 100vw;
}

nav div {
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  justify-content: space-around;
  align-items: center;
}

nav a {
  padding: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

nav a:hover {
  color: #000;
  background-color: #fff;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
  #navToggle {
    display: flex;
    position: absolute;
  }
  nav {
    position:static;
  }
  nav div {
   flex-direction: column;
   height: 0;
   overflow: hidden;
   background-color: #000;
   transition: 0.5s;
  }
  nav a {
   font-size: 22px;
   color: #fff;
  }
  nav a:first-child {
    margin-top: 59px;
  }
  nav a:hover {
  }
}
