.home div.view {
  background-image: url(../img/lumixblackflare.jpg);
}
.home div.view:nth-of-type(2) {
  background-image: url(../img/paris.jpg);
}
.home div.view:nth-of-type(2) h1 {
  color: #000;
}
.home div.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  image-rendering: auto;
}
.home .companies img {
  display: flex;
  height: 100px;
  margin: 40px;
  /*filter: grayscale(100%);*/
}
.home .companies img.isac {
  border-radius: 100%;
  border: solid 2px #fff;
}
